/* shirt.css
 * https://mouseypounds.github.io/stardew-predictor/
 */

.shirt-item {
	width: 36px;
}
span.shirt {
	white-space: nowrap;
}
img.shirt {
    width: 32px;
    height: 32px;
	vertical-align: middle;
	background-image:url("./shirt_sprites.png")
}
img#shirt_1 {
    background-position: 0px 0px;
}
img#shirt_2 {
    background-position: -32px 0px;
}
img#shirt_3 {
    background-position: -64px 0px;
}
img#shirt_4 {
    background-position: -96px 0px;
}
img#shirt_5 {
    background-position: -128px 0px;
}
img#shirt_6 {
    background-position: -160px 0px;
}
img#shirt_7 {
    background-position: -192px 0px;
}
img#shirt_8 {
    background-position: -224px 0px;
}
img#shirt_9 {
    background-position: -256px 0px;
}
img#shirt_10 {
    background-position: -288px 0px;
}
img#shirt_11 {
    background-position: -320px 0px;
}
img#shirt_12 {
    background-position: -352px 0px;
}
img#shirt_13 {
    background-position: -384px 0px;
}
img#shirt_14 {
    background-position: -416px 0px;
}
img#shirt_15 {
    background-position: -448px 0px;
}
img#shirt_16 {
    background-position: -480px 0px;
}
img#shirt_17 {
    background-position: 0px -32px;
}
img#shirt_18 {
    background-position: -32px -32px;
}
img#shirt_19 {
    background-position: -64px -32px;
}
img#shirt_20 {
    background-position: -96px -32px;
}
img#shirt_21 {
    background-position: -128px -32px;
}
img#shirt_22 {
    background-position: -160px -32px;
}
img#shirt_23 {
    background-position: -192px -32px;
}
img#shirt_24 {
    background-position: -224px -32px;
}
img#shirt_25 {
    background-position: -256px -32px;
}
img#shirt_26 {
    background-position: -288px -32px;
}
img#shirt_27 {
    background-position: -320px -32px;
}
img#shirt_28 {
    background-position: -352px -32px;
}
img#shirt_29 {
    background-position: -384px -32px;
}
img#shirt_30 {
    background-position: -416px -32px;
}
img#shirt_31 {
    background-position: -448px -32px;
}
img#shirt_32 {
    background-position: -480px -32px;
}
img#shirt_33 {
    background-position: 0px -64px;
}
img#shirt_34 {
    background-position: -32px -64px;
}
img#shirt_35 {
    background-position: -64px -64px;
}
img#shirt_36 {
    background-position: -96px -64px;
}
img#shirt_37 {
    background-position: -128px -64px;
}
img#shirt_38 {
    background-position: -160px -64px;
}
img#shirt_39 {
    background-position: -192px -64px;
}
img#shirt_40 {
    background-position: -224px -64px;
}
img#shirt_41 {
    background-position: -256px -64px;
}
img#shirt_42 {
    background-position: -288px -64px;
}
img#shirt_43 {
    background-position: -320px -64px;
}
img#shirt_44 {
    background-position: -352px -64px;
}
img#shirt_45 {
    background-position: -384px -64px;
}
img#shirt_46 {
    background-position: -416px -64px;
}
img#shirt_47 {
    background-position: -448px -64px;
}
img#shirt_48 {
    background-position: -480px -64px;
}
img#shirt_49 {
    background-position: 0px -96px;
}
img#shirt_50 {
    background-position: -32px -96px;
}
img#shirt_51 {
    background-position: -64px -96px;
}
img#shirt_52 {
    background-position: -96px -96px;
}
img#shirt_53 {
    background-position: -128px -96px;
}
img#shirt_54 {
    background-position: -160px -96px;
}
img#shirt_55 {
    background-position: -192px -96px;
}
img#shirt_56 {
    background-position: -224px -96px;
}
img#shirt_57 {
    background-position: -256px -96px;
}
img#shirt_58 {
    background-position: -288px -96px;
}
img#shirt_59 {
    background-position: -320px -96px;
}
img#shirt_60 {
    background-position: -352px -96px;
}
img#shirt_61 {
    background-position: -384px -96px;
}
img#shirt_62 {
    background-position: -416px -96px;
}
img#shirt_63 {
    background-position: -448px -96px;
}
img#shirt_64 {
    background-position: -480px -96px;
}
img#shirt_65 {
    background-position: 0px -128px;
}
img#shirt_66 {
    background-position: -32px -128px;
}
img#shirt_67 {
    background-position: -64px -128px;
}
img#shirt_68 {
    background-position: -96px -128px;
}
img#shirt_69 {
    background-position: -128px -128px;
}
img#shirt_70 {
    background-position: -160px -128px;
}
img#shirt_71 {
    background-position: -192px -128px;
}
img#shirt_72 {
    background-position: -224px -128px;
}
img#shirt_73 {
    background-position: -256px -128px;
}
img#shirt_74 {
    background-position: -288px -128px;
}
img#shirt_75 {
    background-position: -320px -128px;
}
img#shirt_76 {
    background-position: -352px -128px;
}
img#shirt_77 {
    background-position: -384px -128px;
}
img#shirt_78 {
    background-position: -416px -128px;
}
img#shirt_79 {
    background-position: -448px -128px;
}
img#shirt_80 {
    background-position: -480px -128px;
}
img#shirt_81 {
    background-position: 0px -160px;
}
img#shirt_82 {
    background-position: -32px -160px;
}
img#shirt_83 {
    background-position: -64px -160px;
}
img#shirt_84 {
    background-position: -96px -160px;
}
img#shirt_85 {
    background-position: -128px -160px;
}
img#shirt_86 {
    background-position: -160px -160px;
}
img#shirt_87 {
    background-position: -192px -160px;
}
img#shirt_88 {
    background-position: -224px -160px;
}
img#shirt_89 {
    background-position: -256px -160px;
}
img#shirt_90 {
    background-position: -288px -160px;
}
img#shirt_91 {
    background-position: -320px -160px;
}
img#shirt_92 {
    background-position: -352px -160px;
}
img#shirt_93 {
    background-position: -384px -160px;
}
img#shirt_94 {
    background-position: -416px -160px;
}
img#shirt_95 {
    background-position: -448px -160px;
}
img#shirt_96 {
    background-position: -480px -160px;
}
img#shirt_97 {
    background-position: 0px -192px;
}
img#shirt_98 {
    background-position: -32px -192px;
}
img#shirt_99 {
    background-position: -64px -192px;
}
img#shirt_100 {
    background-position: -96px -192px;
}
img#shirt_101 {
    background-position: -128px -192px;
}
img#shirt_102 {
    background-position: -160px -192px;
}
img#shirt_103 {
    background-position: -192px -192px;
}
img#shirt_104 {
    background-position: -224px -192px;
}
img#shirt_105 {
    background-position: -256px -192px;
}
img#shirt_106 {
    background-position: -288px -192px;
}
img#shirt_107 {
    background-position: -320px -192px;
}
img#shirt_108 {
    background-position: -352px -192px;
}
img#shirt_109 {
    background-position: -384px -192px;
}
img#shirt_110 {
    background-position: -416px -192px;
}
img#shirt_111 {
    background-position: -448px -192px;
}
img#shirt_112 {
    background-position: -480px -192px;
}
img#shirt_113 {
    background-position: 0px -224px;
}
img#shirt_114 {
    background-position: -32px -224px;
}
img#shirt_115 {
    background-position: -64px -224px;
}
img#shirt_116 {
    background-position: -96px -224px;
}
img#shirt_117 {
    background-position: -128px -224px;
}
img#shirt_118 {
    background-position: -160px -224px;
}
img#shirt_119 {
    background-position: -192px -224px;
}
img#shirt_120 {
    background-position: -224px -224px;
}
img#shirt_121 {
    background-position: -256px -224px;
}
img#shirt_122 {
    background-position: -288px -224px;
}
img#shirt_123 {
    background-position: -320px -224px;
}
img#shirt_124 {
    background-position: -352px -224px;
}
img#shirt_125 {
    background-position: -384px -224px;
}
img#shirt_126 {
    background-position: -416px -224px;
}
img#shirt_127 {
    background-position: -448px -224px;
}
img#shirt_128 {
    background-position: -480px -224px;
}
