/* stardew-predictor.css
 * https://mouseypounds.github.io/stardew-predictor/
 */

html {
	min-height: 100%;
	background-attachment: fixed;
	background-color: #80a0f0; /* fallback color if gradients are not supported */
	background-image: -webkit-linear-gradient(top, #80a0f0, #c0ffff, #40c040); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
	background-image:    -moz-linear-gradient(top, #80a0f0, #c0ffff, #40c040); /* For Firefox (3.6 to 15) */
	background-image:      -o-linear-gradient(top, #80a0f0, #c0ffff, #40c040); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to bottom, #80a0f0, #c0ffff, #40c040); /* Standard syntax; must be last */
}
body {
	margin: 15px;
	color: #603000;
}
a:link, a:visited { color: #804000; }
a:hover { color: #d08000; }
a:active { color: #ffa000; }
h3 {
	margin: 20px 0 4px;
}
.tab-panel > h3 {
	margin: 8px 0 4px;
}
.panel {
	background-color: #ffe0b0;
	padding: 8px 5% 8px 12px;
	margin: 5px;
	border: 5px solid #804000;
	border-radius: 15px;
}
#footer {
	padding-right: 12px;
}
#input-container { display: none; }
#output-container { 
	display: none;
	min-height: 750px;
}
#progress-container { display: none; }
.error {
	font-weight: bold;
	font-size: 150%;
	color: #ff0000;
}
.path {
	font-family: monospace;
}
#footer {
	text-align: center;
}
.ach,.warn,.note {
	font-style: italic;
}
.pts {
	font-weight: bold;
}
.ach_yes,.ms_yes,.pt_yes {
	color: #004000;
}
.ach_yes:before,.ms_yes:before {
	content: "\2714 ";
	margin-right: 3px;
}
.ach_no,.ms_no,.pt_no {
	color: #c00000;
}
.ach_no:before,.ms_no:before {
	content: "\2718 ";
	margin-right: 3px;
}
.ach_list {
	list-style: none;
	padding-left: 50px;
	margin-top: 0px;
	margin-bottom: 4px;
	text-indent: -15px;
}
.result:before {
	content: "\25c8 ";
	margin-right: 3px;
}
.result {
	padding-left: 15px;
}
.need:before,.warn:before {
	content: "! ";
	font-weight: bold;
	margin-right: 3px;
}
.need {
	margin-left: 38px;
}
.need > ul {
	margin-left: 48px;
	margin-top: 0px;
}
.need > ol {
	margin-left: 48px;
	margin-top: 0px;
}
#TOC {
	position: fixed;
	right: 0;
	top: 0;
	padding: 0;
	max-height: 90%;
	max-width: 200px;
	overflow: auto;
	background-color: #eecc99;
	box-shadow: -2px 2px 25px #603000;
}
#TOC, #TOC-details {
	display:none;
}
#TOC:hover #TOC-details {
	display:block;
}
#TOC > h1, #TOC li a {
	padding: 5px 10px;
	display: block;
}
#TOC > h1 {
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	background-color: #804000;
	color: #eecc99;
}
#TOC ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#TOC li a {
	color: #60300;
	text-decoration: none;
}
#TOC li a:hover {
	background-color: #ffe0b0;
}
#tabset-div {
	padding: 15px;
}
.tabset > input[type="radio"] {
	position: absolute;
	left: -200vw;
}
.tabset .tab-panel {
	display: none;
}
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}
.tabset > label {
	position: relative;
	display: inline-block;
	padding: 15px;
	border: 1px solid #906030;
	border-bottom: 0;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	background-color: #ffe0b0;
	border-radius: 8px 8px 0 0;
	color: #906030;
}
.tabset > label:hover,
.tabset > input:focus + label {
	background-color: #eecc99;
	border-color: #603000;
	color: #603000;
}
.tabset > input:checked + label {
	border-color: #603000;
	border-bottom: 1px solid #eecc99;
	margin-bottom: -1px;
	color: #603000;
	background-color: #eecc99;
}
.tab-panel {
	padding: 10px 25px;
	border: 1px solid #603000;
	border-radius: 0 8px 8px 8px;
	background-color: #eecc99;
}
table.output, table.calendar {
	border: 2px solid black;
	background-color: white;
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	text-align: center;
}
th {
	color: white;
	background-color: #333;
}
td {
	color: black;
}
table.output th, table.output td {
	padding: 3px 8px;
}
.calendar td {
	text-align: left;
	padding: 0;
	width: 8.5em;
}
tr.past > td, td.past, td.count {
	background-color: #ccc;
	color: #333;
}
tr.current > td, td.current {
	background-color: #ffe0b0;
}
.date {
	display: inline-block;
	border-style: solid;
	border-color: black;
	border-width: 0 1px 1px 0; 
	text-align: right;
	padding: 0 3px 0 0;
	width: 1.25em;
}
.cell {
	display: inline-block;
	padding: 3px;
}
td .train {
	text-align: center;
	width: 100%;
}
td img {
	vertical-align: -1px;
	width: 13px;
}
th img {
	vertical-align: -2px;
}
td.legend {
	border: 2px solid black;
	text-align: center;
}
th.day {
	width: 12em;
}
th.item {
	width: 10em;
}
th.multi, th.item, td.item {
	border-left-width: 2px;
}
th.qty {
	width: 2.5em;
}
th.price, th.index {
	width: 4em;
}
th.geode-result {
	width: 12.25em;
}
fieldset {
	padding: .5em;
	margin: .5em;
}
.buttons {
	display: flex;
	justify-content: space-between;
}
#mines-buttons, #train-buttons {
	max-width: 57em;
}
#winterstar-buttons {
	max-width: 22em;
}
#cart-buttons, #cart-search {
	max-width: 45em;
}
#geode-buttons, #geode-search {
	max-width: 62em;
}
/* tooltip implementation based on code from Andrea Ligios
   https://stackoverflow.com/questions/7117073/how-to-add-a-tooltip-to-a-div
   http://jsfiddle.net/AndreaLigios/jtLbpy62/
 */
[tooltip]:before {            
	position: absolute;
	content: attr(tooltip);
	opacity: 0;
	box-shadow: 2px 2px 1px #603000;
	padding: .5em;
	color: #603000;
}
[tooltip]:hover:before {        
	opacity: .9;
	background: #ffe0b0;
	margin-top: -1.5em;
	margin-left: .5em;
}
[tooltip]:not([tooltip-persistent]):before {
	pointer-events: none;
}